<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.vam.mapper.AuthorMapper">
  	
  	<insert id="authorEnroll" parameterType="com.vam.model.AuthorVO">
  		INSERT INTO VAM_AUTHOR(
  			AUTHORNAME,
  			NATIONID,
  			AUTHORINTRO
  		)VALUES(
  			#{authorName},
  			#{nationId},
  			#{authorIntro}
  		)
  	</insert>
    
    <select id="authorGetList" resultType="com.vam.model.AuthorVO">
    	<![CDATA[
	    	SELECT * FROM (
	    		SELECT /*+INDEX_DESC(VAM_AUTHOR SYS_C008334) */
	    			ROWNUM AS RN, AUTHORID, AUTHORNAME, NATIONID, REGDATE,UPDATEDATE
	    			FROM VAM_AUTHOR
	    			WHERE
	    ]]>
	    		<if test="keyword != null">
	    			AUTHORNAME LIKE '%'||#{keyword}||'%' AND
	    		</if>
	    		
	    <![CDATA[
	    		ROWNUM <= #{pageNum}*#{amount}
		    	)
		    WHERE RN > (#{pageNum} - 1) * #{amount}
	    ]]>
    </select>
    
    <select id="authorGetTotal" resultType="int">
    	SELECT COUNT(*)
    	FROM VAM_AUTHOR
		<if test="keyword != null">
			WHERE AUTHORNAME LIKE '%'||#{keyword}||'%'
		</if>    
    </select>
    
    <select id="authorGetDetail" resultType="com.vam.model.AuthorVO">
    	SELECT *
    	FROM VAM_AUTHOR
    	WHERE AUTHORID = #{authorId}
    </select>
    
    <update id="authorModify" parameterType="com.vam.model.AuthorVO">
    	UPDATE VAM_AUTHOR
    	SET AUTHORNAME = #{authorName}, NATIONID = #{nationId}, AUTHORINTRO = #{authorIntro}, UPDATEDATE = SYSDATE
    	WHERE AUTHORID = #{authorId}
    </update>
      
  </mapper>